<div class="card mb-3">
    <div class="row">
        <div class="col-3">
            <img src="/serapfoto/<%= imageUrl %>" alt="" class="img-fluid">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="/products/<%= id %>">
                        <%= name %>
                    </a>
                </h3>
                <p class="card-text"><%= age %></p>
            </div>
        </div>
    </div>
    </div>